@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,700&display=swap');

body{
    
    align-content: center;
   
    font-family:  'Poppins', sans-serif;
    font-variant: small-caps;
    background-color: rgb(235, 237, 235);
    
    
}
.div1{
    color: rgb(2, 90, 2);
    text-align: center;
    font-size:x-large;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif;
}
.info{
   
    margin-top: 5%;
    text-align: center;
    
}
input[type=text]{
    height: 7%;
    margin-bottom: 1%;
    width:15%;
    background-color: rgb(255,255,255);
    border: 2px solid green;
    border-radius: 5px;
 }
 input[type=text]:hover{
    background-color:  rgb(198, 239, 198);
}
 input[type=password]{
    height: 7%;
    margin-bottom: 2%;
    width:30%;
    background-color: rgb(255,255,255);
    border: 2px solid green;
    border-radius: 5px;
 }
 input[type=password]:hover{
    background-color:  rgb(198, 239, 198);
}
 input[type=submit]{
    border-radius: 20px;
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 20;
    background-color: #dddbdb;
    border:#dddbdb;
    text-transform: uppercase;
    margin: 0.5em 0em;
    text-align: center;
    color:green;
}
input[type=submit]:hover{
    background-color: darkgrey;
}
.div2{
    
    margin-top: 2%;
    text-align: center;
}
